window_layout.json
/.venv/
/.vscode/
/.power_sh/
/.codex/
/results/
/local_data
/local_data/
/local_MOBI_data
/local_MOBI_data/
/local_lsl_data
/local_lsl_data/
/crane_data
/crane_data/
long_walk_data/
long_walk_data
/temp/
__pycache__/
*.py[cod]
*.egg-info/
*.csv
!/sample_data/crane_templates/*.csv
**.log
logs/
temp/
spss_scripts/
/build_output/
crane_examples/*
longwalk_examples/*
foh_examples/
redcap_data/
foh_data_copy/
build_log.txt
longwalk_bids
longwalk_bids/
longwalk_examples/
crane_examples/dist/
longwalkv3_examples/
*.ipynb